:root {
  --backGround:#14141F;
  --color-input:#8A8AA0;
  --color-primary:#343444;
  --color-secondary:#5142fc;
  --text-color-1:rgb(131, 131, 152)
}
*{
  font-family: 'Urbanist', sans-serif;
}

.hover-blue:hover {
 color: #5142fc !important;
 text-decoration: underline !important;
}
.divider {
  margin-top: 37px;
  margin-bottom: 41px;
  height: 1px;
    width: 100%;
  background-color:var(--color-primary)
}
/* App */
.app-wrapper {
  background-color: var(--backGround);
}



/* Login - Register  */
.login-page {
  background-color: var(--backGround);
}

.login-page button, .detail-add-comment button {
  background: transparent !important;
  color: #fff;
  border: 2px solid #fff;
}

.login-page button:hover{
  background: #5142fc !important;
  color: #fff;
  border: 2px solid #5142fc;
}

.form-control {
  color: var(--color-input) !important;
  background: transparent !important;
  border: 1px solid rgba(138, 138, 160, 0.3) !important
}
.login-page input[type="checkbox"] {
  border: 1px solid rgba(138, 138, 160, 0.3) !important
}

/* Card */
.nft-card-wrapper {
  background-color: var(--backGround);
 
  color: #fff;
  position: relative;
  padding: 20px;
}
.nft-card-content {
  background-color: var(--color-primary);
  padding:0 20px;
  border-radius: 20px;
}
.nft-card-media {
  position: relative;
  margin-bottom: 21px;
  box-sizing: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.nft-card-media img{
  width: 100%;
  border-radius: 20px;
}

.nft-card-media .whislist{
  position: absolute;
  top: 13px;
  right: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding: 2px 11px;
  border-radius: 8px;
  background-color: var(--backGround);
  cursor: pointer;
  border: none;
}

.nft-card-title{
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.nft-card-wrapper .tags {
  width: auto;
    padding: 1px 5px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: var(--color-secondary);
    border-radius: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor:context-menu
}

.nft-card-wrapper .meta-info {
  margin-bottom: 4px;
}

.nft-card-wrapper .meta-info, .author {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nft-card-wrapper .avatar img  {
  width: 50px;
  height: 50px;
border-radius: 10px;
}
.nft-card-wrapper .meta-info .price {
  text-align: left;
}
.nft-card-wrapper .meta-info .info {
  /* position: absolute; */
  top: 29px;
  left: 35px;
  font-weight: bold;
  background-color: var(--color-secondary);
  padding: 3px 5px;
  border-radius: 10px;
  cursor: context-menu;
}
 
.info span , .price span, .detail-types span {
  color: var(--text-color-1);
}

/* Detail   */

.detail-media img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.detail-whislist {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding: 2px 11px;
  border: 1px solid white !important;
  border-radius: 8px;
  background-color: black;
  cursor: pointer;
  border: none;
}

.detail-author {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding:10px 20px;
  border-radius: 15px;
  background-color: var(--color-primary);
}
.detail-author h6 {
color: #fff;
font-size: 1.4rem;
}
.detail-avatar img  {
  width: 50px;
  height: 50px;
border-radius: 10px;
}

.info h6 a {
  color: white !important;
  text-decoration: none;
  font-weight: bold;
}
.info h6 a:hover {
  color: #5142fc !important;
  text-decoration: underline !important;
}

.detail-comment {
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

.detail-types {
  display: flex;
    justify-content: start;
    align-items:center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--color-primary);
}
.detail-types figure {
margin:0 !important
}


/* @media screen and(max-width:768px){
  .card-width{
    width:15% !important ;
  }
} */

@media screen and (max-width: 768px) { 
  .meta-item {
    display: flex;
    justify-content: center !important;
  }
 }
@media screen and (min-width: 769px) { 
  .meta-item {
    display: flex;
    justify-content: start !important;
  }
  .detail-info {
    flex-wrap: nowrap !important;
  }
 }