:root {
  --backGround:#14141F;
  --color-input:#8A8AA0;
  --color-primary:#343444;
  --color-secondary:#5142fc;
  --text-color-1:rgb(131, 131, 152)
}
*{
  font-family: 'Urbanist', sans-serif;
}

.hover-blue:hover {
 color: #5142fc !important;
 text-decoration: underline !important;
}

/* App */
.app-wrapper {
  background-color: var(--backGround);
}



/* Login - Register  */
.login-page {
  background-color: var(--backGround);
}

.login-page button {
  background: transparent !important;
  color: #fff;
  border: 2px solid #fff;
}

.login-page button:hover{
  background: #5142fc !important;
  color: #fff;
  border: 2px solid #5142fc;
}

.form-control {
  color: var(--color-input) !important;
  background: transparent !important;
  border: 1px solid rgba(138, 138, 160, 0.3) !important
}
.login-page input[type="checkbox"] {
  border: 1px solid rgba(138, 138, 160, 0.3) !important
}

/* Card */
.nft-card-wrapper {
  background-color: var(--color-primary);
  border-radius: 20px;
  color: #fff;
}

.nft-card-media {
  position: relative;
  margin-bottom: 21px;
  box-sizing: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.nft-card-media img{
  width: 100%;
  border-radius: 20px;
}

.nft-card-media .whislist{
  position: absolute;
  top: 13px;
  right: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding: 2px 11px;
  border-radius: 8px;
  background-color: var(--backGround);
  cursor: pointer;
  border: none;
}

.nft-card-title{
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.nft-card-wrapper .tags {
  width: 49px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: var(--color-secondary);
    border-radius: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.nft-card-wrapper .meta-info {
  margin-bottom: 4px;
}

.nft-card-wrapper .meta-info, .author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.nft-card-wrapper .avatar img {
  width: 50px;
  height: 50px;
border-radius: 10px;
}
.nft-card-wrapper .meta-info .price {
  text-align: right;
}

.info span , .price span {
  color: var(--text-color-1);
}


